layout {

    focus-ring {
        active-color   "#67a0e4"
        inactive-color "#151e28"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67a0e4"
        inactive-color "#151e28"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#151e2870"
    }

    tab-indicator {
        active-color   "#67a0e4"
        inactive-color "#0c478d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67a0e480"
    }
}

recent-windows {
    highlight {
        active-color "#67a0e4"
        urgent-color "#fd4663"
    }
}
