layout {

    focus-ring {
        active-color   "#edc15f"
        inactive-color "#292314"
        urgent-color   "#d4654d"
    }

    border {
        active-color   "#edc15f"
        inactive-color "#292314"
        urgent-color   "#d4654d"
    }

    shadow {
        color "#29231470"
    }

    tab-indicator {
        active-color   "#edc15f"
        inactive-color "#956804"
        urgent-color   "#d4654d"
    }

    insert-hint {
        color "#edc15f80"
    }
}

recent-windows {
    highlight {
        active-color "#edc15f"
        urgent-color "#d4654d"
    }
}
