layout {

    focus-ring {
        active-color   "#67a2e4"
        inactive-color "#0e1e30"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67a2e4"
        inactive-color "#0e1e30"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#0e1e3070"
    }

    tab-indicator {
        active-color   "#67a2e4"
        inactive-color "#0c498d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67a2e480"
    }
}

recent-windows {
    highlight {
        active-color "#67a2e4"
        urgent-color "#fd4663"
    }
}
